{"filter":false,"title":"c9.service","tooltip":"/linux_service/c9.service","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":708,"scrollleft":0,"selection":{"start":{"row":56,"column":60},"end":{"row":56,"column":60},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":49,"state":"start","mode":"ace/mode/sh"}},"timestamp":1507092779757,"hash":"2b15c269415104cd25dc92434844a4d7e1eefb3e"}