{"filter":false,"title":"wetty.service","tooltip":"/linux_service/wetty.service","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1505997364675,"hash":"52a58468f32a8a7c06c5298d9af3324dac58a973"}