{"filter":false,"title":"xbee.service","tooltip":"/linux_service/xbee.service","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":1509,"scrollleft":0,"selection":{"start":{"row":18,"column":45},"end":{"row":18,"column":45},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":106,"state":"start","mode":"ace/mode/sh"}},"timestamp":1507194945985,"hash":"3780f00e0ed40e7decd4193cdb745797f5a2a1f7"}